@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger{ 
    width: 24px;
    height: 24px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
}

.hamburger-top , .hamburger-middle , .hamburger-bottom{ 
    width: 24px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.2s;
}


 .hamburger-middle{ 
    transform: translateY(7px);
}

.hamburger-bottom{ 
    transform: translateY(14px);
}

/* .open{ 
    transform: rotate(90deg);
    transform: rotate(0px);
}

.open .hamburger-top{ 
    transform: rotateX(-45deg);
    transform: translate(6px);
    transform: translateY(6px);
}

.open .hamburger-middle{ 
    display: none;
}

.open .hamburger-bottom{ 
    transform: rotate(45deg);
    transform: translate(-6px);
    transform: translateY(6px); */
/* } */